<div role="page">
    <header class="standard">
    	<h1>Your JaffaJS Form!</h1>
	</header>
	<nav role="menu">
		<ul>
	    	<li><a href="#form.html">View a Form</a></li>
	    	<li><a href="#page.html">See a Page</a></li>
	    	<li><a href="#list.html">See a list</a></li>
	    	<li><a href="#manual.html">View the Documentation</a></li>
    	</ul>
	</nav>
	<section class="main">
		<p>If you are seeing this page then your JaffaJS project is working. Why select some of the above optins to views some of teh features of JaffaJS</p>
	</section>
</div>