<div role="page">
	<header class="inputs">
        <a class="back" href="#main.html">Back</a>
        <br>
    	<h1>put in a new day</h1>
	</header>
    <ul role="list">
        <li id="todaysDate" data-role="fieldcontain">
            <label for="flip1">Use todays Date?</label>
            <div class="selector">
                <select name="flip1" id="flipDate" onchange="javascript:initBlur('input' , 'flipDate');"> 
                        <option value="on">Yes</option>
                        <option value="off">No</option>
                </select>
            </div>
        </li>
        <li id="inputDate" class="selectDate" data-role="fieldcontain">
        	<label for="datepicker">Select a Date:</label>
            <div class="date-select">
                <input type="date" id="datepicker" value="" placeholer="pick the date" />
            </div>
        </li>
        <li data-role="fieldcontain">
            <label for="flip2">Length?</label>
            <div class="selector">
                <select name="flip2" id="slideLength" onchange="javascript:timingsBlur('input' , 'slideLength');">
                    <option value="on">All Day</option>
                    <option value="off">Half Day</option>
                </select>
            </div>
        </li>
        <li id="inputTime" class="timingsSelector" data-role="fieldcontain">
            <label for="flip3">When?</label>
            <div class="selector">
                <select name="flip3" id="timeSelector">
                    <option value="on">AM</option>
                    <option value="off">PM</option>
                </select>
            </div>
        </li>
        <li data-role="fieldcontain">
            <label for="slide1">Temperature (&deg;C)</label>
            <div class="slider">
                <input name="slide1" id="tempSlider" value="10" min="-30" max="60" type="range" onchange="javascript:update_range();"></input><span id="slide1_span"> 10</span>
            </div>
        </li>
        <li class="ui-body ui-body-b">
            <fieldset>
                    <button type="submit" onclick="javascript:validate();">Submit</button>
            </fieldset>
        </li>
    </ul>
    <br><br><br>
</div>
<script type="text/javascript">
   // document.addEventListener("deviceready", onDeviceReady, false);

</script>