<div role="page">
    <header role="standard-centered">
    	<h1>Your JaffaJS project is working!</h1>
	</header>
	<nav role="menu">
		<ul>
	    	<li><a href="#form.html">View a Form</a></li>
	    	<li><a href="#page.html">See a Page</a></li>
	    	<li><a href="#list.html">See a list</a></li>
	    	<li><a href="#manual.html">View the Documentation</a></li>
    	</ul>
	</nav>
	<section role="main">
		<p>If you are seeing this page then your JaffaJS project is working. Why not select some of the above optins to views some of the features of JaffaJS</p>
	</section>
</div>