<div role="page">
	<header class="stats">
        <a class="back" href="#stats.html">Back</a>
        <a class="back" href="#main.html" style="float:right;">Home</a>
        <br>
        <h2>Choose a year </h2>
	</header>
    <ul id="prevYearsList" role="menu">
    	<!-- fill list with selection of dateTime endings into an array then append for each different type of endings on this chart. find way to carry data over to next section - these need to be a links. -->
    </ul>
    <script>
		document.addEventListener("deviceready", sort_other_years, false);
	</script>
</div>