<div id="update" role="page">
    <header class="inputs">
        <a class="back" href="#update.html">Back</a>
        <a class="back" href="#main.html" style="float:right">Home</a>
        <br>
        <h1>Edit</h1>
    </header>
    <ul role="list">
        <li id="todaysDate" data-role="fieldcontain">
            <label for="flip1">Use todays Date?</label>
            <div class="selector">
                <select name="flip1" id="flipDate2" onchange="dateBlur('inputForm' , 'flipDate2')">
                    <option value="on">Yes</option>
                    <option value="off">No</option>
                </select>
            </div>
        </li>
        <li class="selectDate" data-role="fieldcontain">
            <label for="name1">Select a date</label>
            <div class="date-select">
                <input type="date" id="datepicker2" value="" placeholer="pick the date" />
            </div>
        </li>
        <li data-role="fieldcontain">
            <label for="flip2">Length?</label>
            <div class="selector">
                <select name="flip2" id="slideLength2" onchange="javascript:timingsBlur('input' , 'slideLength2');">
                    <option value="on">All Day</option>
                    <option value="off">Half Day</option>
                </select>
            </div>
        </li>
        <li class="timingsSelector" data-role="fieldcontain">
            <label for="flip3">When?</label>
            <select name="flip3" id="timeSelector2" data-role="slider">
                <option value="on">AM</option>
                <option value="off">PM</option>
            </select>
        </li>
        <li id="inputTime" class="timingsSelector" data-role="fieldcontain">
            <label for="flip3">When?</label>
            <div class="selector">
                <select name="flip3" id="timeSelector2">
                    <option value="on">AM</option>
                    <option value="off">PM</option>
                </select>
            </div>
        </li>
        <li id="tempSlide">
        </li>
        <li>
            <fieldset>
                    <button type="submit" onclick="javascript:deleteQuery();">Delete</button>
                    <button type="submit" onclick="javascript:checkFormUpdate();">Submit</button>
            </fieldset>
        </li>
    </ul>
    <script type="text/javascript">
		document.addEventListener("deviceready", retrieveFormInfo, false);
	</script>
</div>