/* VARS */
//this is for you to be able to customise fonts, sizes, colours etc, 


//dimensions
//this is for you to build and specify the widths of certain elements
@deviceWidth : 100%;
@max: 100%;
@min: 100%;
@contentWidth: 90%;
@iconHeight: 45px; //this might become an icon padding mixin instead.

@menuTileWidth: 100%;

@forminputWidth: 100%;
@formsubmitWidth: 100%;
@formTextareaWidth: 100%;
@formTextareaHeight: 100%;

//font family
@font-family: 'helvetica, arial, sans-serif';

//font sizes
//please put your range of colour schemes in here.
@h1: 24px;
@h2: 21px;
@h3: 18px
@p: 16px;
@p-small: 12px;

//colour scheme
//this is for you to customise the colour scheme you desire.
@mainCol: #349857;
@head-text-Col: #398439;
@textCol: #349857;
@secondaryCol: #349857;
@thirdCol: #349857;

/* MIXINS */